{% extends 'base.html' %}
{% block content %}
<h3>Add vCenter Configuration</h3>
<form method="post" class="mt-3">
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Name</label>
      <input class="form-control" name="name" required />
    </div>
    <div class="col-md-6">
      <label class="form-label">Host</label>
      <input class="form-control" name="host" required />
    </div>
    <div class="col-md-6">
      <label class="form-label">Username</label>
      <input class="form-control" name="username" required />
    </div>
    <div class="col-md-6">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" required />
    </div>
    <div class="col-md-3 form-check mt-4">
      <input class="form-check-input" type="checkbox" name="disable_ssl" checked id="disable_ssl">
      <label class="form-check-label" for="disable_ssl">Disable SSL Verify</label>
    </div>
    <div class="col-md-3 form-check mt-4">
      <input class="form-check-input" type="checkbox" name="enabled" checked id="enabled">
      <label class="form-check-label" for="enabled">Enabled</label>
    </div>
  </div>
  <div class="mt-4">
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-secondary" href="/vcenter/">Cancel</a>
  </div>
 </form>
{% endblock %}

